machine:
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${region_name}
    topology.kubernetes.io/zone: ${zone_name}

cluster:
  allowSchedulingOnControlPlanes: true
